# Simple calculator function
calc() {
    [[ $# -eq 0 ]] && { printf 'Usage: calc <expression>\n' >&2; return 1; }

    local result
    result="$(printf '%s\n' "scale=10;$*" | bc --mathlib 2>&1)" || {
        printf 'calc error: %s\n' "$result" >&2
        return 1
    }

    result="$(printf '%s' "$result" | tr -d '\\\n')"

    if [[ "$result" == *.* ]]; then
        printf '%s' "$result" |
        sed -e 's/^\./0./'        `# add "0" for cases like ".5"`  \
            -e 's/^-\./-0./'      `# add "0" for cases like "-.5"` \
            -e 's/0*$//;s/\.$//'   # remove trailing zeros
    else
        printf '%s' "$result"
    fi
    printf '\n'
}
alias calc='noglob calc'

# Brew do everything
function brewdo() {
    brew update && brew upgrade && brew cleanup -s
}

# Git add, commit, and push
function gap() {
    if [[ $# -eq 0 ]]; then
        echo "Usage: gap \"commit message\""
        return 1
    fi
    git add . && git commit -m "$1" && git push
}

# Adding a function to get IP for other bash scripts
myip() { curl -s ifconfig.me; }

# Safe remove
rm() { 
  ls -FCsd -- "$@"
  read -p 'Delete? [y/N] ' ans
  [[ "$ans" == "y" ]] && /bin/rm "$@"
}

